/* COLORS */
.logo {
  height: 100%;
  padding: 1em 0 1em 0;
}
.logo__img {
  display: flex;
  justify-content: none;
  margin: auto;
  flex-direction: none;
  height: 100%;
  align-items: center;
}

.ham {
  display: none;
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: transparent;
}

.ham span {
  display: none;
  background-color: #000000;
  height: 3px;
  width: 28px;
  margin: 5px auto;
  border-radius: 2px;
}

.nav {
  display: flex;
  justify-content: center;
  margin: -5em auto 0;
  flex-direction: none;
  height: 5em;
  background-color: #080808;
  background: linear-gradient(0deg, rgb(22, 22, 22) 30%, rgb(0, 0, 0) 100%);
  position: fixed;
  z-index: 2000;
  box-shadow: 0em 0.2em 0.7em 0 rgba(32, 32, 32, 0.3);
}
.nav {
  display: flex;
  justify-content: none;
  margin: none;
  flex-direction: none;
  width: 100%;
}
.nav__links {
  display: flex;
  height: 100%;
  padding: 0 2em 0 2em;
}
.nav__link {
  display: flex;
  justify-content: none;
  margin: auto 1em;
  flex-direction: none;
  color: #ffffff;
  font-size: 0.8em;
}
.nav__link__texto {
  text-decoration: none;
  color: #ffffff;
  margin: 2px auto 0;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #c0c0b4;
}
.nav__link__texto:hover {
  color: white;
}

.nav-icon {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  margin-left: 2em;
}
.nav-icon__cont-icon {
  display: flex;
  justify-content: none;
  margin: 0;
  flex-direction: row;
  padding: 0 0.2em 0 0.2em;
}
.nav-icon__icon {
  display: flex;
  justify-content: none;
  margin: auto;
  flex-direction: none;
  height: 1.5em;
}

.nav-item.dropdown::marker {
  display: none;
}

@media screen and (max-width: 1100px) {
  .nav {
    display: flex;
    justify-content: center;
    margin: none;
    flex-direction: column;
  }
  .nav__links {
    display: none;
    flex-direction: column;
    vertical-align: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
  }
  .nav__links.activado {
    display: flex;
    margin: auto;
    padding: 22px;
    position: absolute;
    top: 100px;
    background-color: #000000;
    animation: muestraMenu 350ms ease-in-out both;
    z-index: 2000;
    border-bottom: 5px solid #EC4E0B;
  }
  .nav__link {
    margin: 2vh auto;
    width: 100%;
    text-align: center;
  }
  .nav__link__texto {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .logo {
    height: 100%;
    vertical-align: center;
    margin: auto 15px;
    width: 21%;
  }
  .ham__contenedor {
    display: flex;
    justify-content: space-around;
    margin: 0 30px 0 0;
    flex-direction: none;
  }
  .ham {
    display: block;
    margin: 15px 0;
    border: none;
  }
  .ham span {
    display: flex;
    background-color: #ffffff;
  }
  .pedido {
    width: 100%;
    margin: auto;
    margin-top: -17vh;
    font-size: 15px;
    border-radius: 7px;
  }
  .pedido__texto {
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 20px;
  }
  .pedido__contenedor {
    width: 50%;
    margin: auto;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    display: flex;
    justify-content: center;
    margin: none;
    flex-direction: column;
    width: 100%;
  }
  .nav__links {
    height: 60vh;
  }
  .nav__links.activado {
    display: flex;
    margin: auto;
    width: 100%;
    padding: 22px;
    position: absolute;
    top: 96px;
    background: linear-gradient(180deg, rgb(22, 22, 22) 30%, rgb(0, 0, 0) 100%);
    animation: muestraMenu 350ms ease-in-out both;
    z-index: 2000;
    border-bottom: none;
  }
  .nav-icon {
    width: 100%;
    margin-left: 0;
  }
  .nav-icon__icon {
    height: 2.3em;
  }
}
footer {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: none;
  width: 82%;
  padding: 1.5em;
  font-family: "Poppins", sans-serif;
  border-top: 1px solid black;
}
.footer__text {
  display: flex;
  justify-content: none;
  margin: auto;
  flex-direction: row;
  width: 100%;
  background-color: black;
}
.footer__text__cont {
  display: flex;
  width: 80%;
  color: black;
  margin: auto;
}
.footer__text__info {
  width: 100%;
  margin: auto;
  color: rgb(218, 218, 218);
  text-align: center;
  font-size: 0.7em;
  padding: 1em;
  font-weight: 400;
}
.footer__payments {
  margin: auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.footer__payments__cont {
  display: flex;
  width: 100%;
  margin: 0.5em;
  padding: 0.2em;
}
.footer__payments__img {
  width: 100%;
  height: 30px;
  padding: 10%;
}

@media screen and (max-width: 980px) {
  .footer {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 70%;
    padding: 1em;
  }
  .footer__text {
    display: flex;
    justify-content: none;
    margin: auto;
    flex-direction: row;
    width: 100%;
    background-color: white;
  }
  .footer__text__cont {
    display: flex;
    width: 80%;
    color: white;
    margin: auto;
  }
  .footer__text__info {
    width: 100%;
    margin: auto;
    color: black;
    text-align: center;
    font-size: 0.7em;
    padding: 1em;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  margin-top: 5em;
}

/* HOME */
.carousel-home {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.carousel-home__img {
  width: 100%;
  height: 35em;
  object-fit: cover;
}

.titulo {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.titulo__text {
  display: inline-block;
  position: relative;
  font-weight: 800;
  font-size: 3em;
  padding: 1em 0 0.5em 0;
}
.titulo__img {
  height: 3em;
  margin-bottom: 0.5em;
}

.servicio {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  width: 100%;
  padding: 0 0.2em 0 0.2em;
}
.servicio__cont {
  width: 25%;
  padding: 0.4em 0.2em 0.4em 0.2em;
}
.servicio__img {
  width: 100%;
}

.slogan-1 {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  width: 100%;
  background: linear-gradient(0deg, rgb(13, 13, 14) 50%, rgb(0, 0, 0) 100%);
}
.slogan-1__texto {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  width: 80%;
  text-align: center;
  font-size: 2.5em;
  color: white;
  padding: 1em 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.banner {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  width: 100%;
}
.banner__img-cont {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 50%;
}
.banner__img {
  width: 100%;
}

.galeria {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  width: 80%;
  height: 45em;
}
.galeria__cont1 {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  width: 35%;
  height: 100%;
  padding: 0 1em 5em 0;
}
.galeria__cont2 {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 65%;
  height: 45em;
  padding: 0 0 5em 0;
}
.galeria__cont3 {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  width: 100%;
  height: 50%;
  padding: 0 0 0.5em 0;
}
.galeria__cont4 {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  width: 100%;
  height: 50%;
  padding: 0.5em 0 0 0;
}
.galeria__img1 {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria__img2 {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  width: 50%;
  height: 100%;
  padding: 0 0.5em 0 0;
  object-fit: cover;
}
.galeria__img3 {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  width: 50%;
  height: 100%;
  padding: 0 0 0 0.5em;
  object-fit: cover;
}
.galeria__img4 {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carouselExample {
  display: none;
}

.marcas {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  width: 95%;
  padding: 3em 0 3em 0;
}
.marcas__cont {
  width: 100%;
  padding: 1em;
}
.marcas__img {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  width: 100%;
  object-fit: cover;
}

.productos {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  width: 90%;
  padding: 2em 0 3em 0;
  font-family: "Poppins", sans-serif;
}
.productos__cont1 {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  width: 25%;
  margin-right: 1em;
}
.productos__cont1__img {
  width: 100%;
  height: 22em;
  object-fit: cover;
}
.productos__cont2 {
  display: grid;
  width: 100%;
  gap: 0.5em;
  margin: auto;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.productos__item {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  line-height: 1em;
  width: 100%;
  padding-bottom: 1em;
  overflow: hidden;
  transition: all 0.5s;
}
.productos__item:hover > .productos__item__img {
  transform: scale(1.1);
}
.productos__item__img {
  width: 100%;
  transition: all 0.5s;
}
.productos__item__titulo {
  width: 100%;
  padding-left: 1em;
  font-size: 0.8em;
}
.productos__item__precio {
  width: 100%;
  padding-left: 0.8em;
}
.productos__item__boton {
  width: 90%;
  margin: 0 auto;
  font-size: 0.8em;
  padding: 1em;
  border: 1px solid black;
  background-color: white;
}
.productos__item__boton:hover {
  background-color: black;
  color: white;
}

.publi-horizontal-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  gap: 1em;
  margin: auto;
  padding: 2em 0 2em 0;
  justify-content: center;
}
.publi-horizontal-2__cont {
  overflow: hidden;
}
.publi-horizontal-2__img {
  width: 100%;
  height: 10em;
  object-fit: cover;
  transition: all 1s;
}
.publi-horizontal-2__img:hover {
  scale: 1.1;
}

.redes {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 1.5em;
  justify-content: center;
  margin: auto;
  width: 80%;
  padding: 0 0 5em 0;
}
.redes__cont-logo {
  display: flex;
  justify-content: start;
  margin: auto;
  flex-direction: none;
  width: 80%;
  padding: 5em 0 1em 0;
}
.redes__img-logo {
  height: 6em;
}
.redes__titulo {
  display: flex;
  justify-content: start;
  margin: auto;
  flex-direction: none;
  width: 100%;
  padding-left: 1em;
  font-size: 1.5em;
}
.redes__cont {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  height: 25em;
  cursor: pointer;
}
.redes__cont:hover {
  background: linear-gradient(155deg, rgb(221, 221, 221) 0%, rgb(221, 221, 221) 100%);
  opacity: 0.8;
}
.redes__img {
  width: 100%;
  object-fit: contain;
}

/* SERVICIOS */
.servicios-cont {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.servicios-precios {
  display: flex;
  justify-content: none;
  margin: none;
  flex-direction: column;
  width: 30%;
  padding: 2em 0;
}
.servicios-precios__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  width: 90%;
}
.servicios-precios__info {
  display: flex;
  justify-content: center;
  margin: 1em auto 0;
  flex-direction: column;
  width: 100%;
  background-color: whitesmoke;
}
.servicios-precios__img {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  position: relative;
  width: 100%;
  height: 10em;
  background: linear-gradient(155deg, rgba(20, 20, 20, 0.9013656488) 0%, rgba(18, 19, 19, 0.9041667692) 100%);
}
.servicios-precios__img__img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: none;
  object-fit: cover;
  width: 100%;
  opacity: 0.8;
}
.servicios-precios__img__titulo {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  top: 1.3em;
  opacity: 1;
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.servicios-items {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 0.5em;
}
.servicios-items__cont {
  display: flex;
  justify-content: center;
  margin: 0 0 0 -2em;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 1.7em 0.7em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.servicios-items__items-cont {
  display: flex;
}
.servicios-items__texto-cont {
  display: flex;
  justify-content: none;
  margin: none;
  flex-direction: column;
  padding: 1em 0;
}
.servicios-items__texto {
  display: flex;
  justify-content: none;
  margin: none;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5em 0;
  text-align: left;
  font-size: 0.85em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* PROMOCIONES */
.promos {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
  justify-content: center;
  background-image: url("../images/promos/background-promo.png");
  background-size: contain;
}
.promos__cont {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.promos__img {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 95%;
}
.promos__img:hover {
  transform: scale(1.05);
}

/* NOSOTROS */
.nosotros {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  text-align: center;
  width: 80%;
  padding: 0 0 2em 0;
  font-family: "Poppins", sans-serif;
}

.nosotros-info {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  width: 70%;
  padding: 1.5em;
}
.nosotros-info__cont {
  margin: auto;
  width: 100%;
}
.nosotros-info__titulo {
  margin: auto;
  width: 100%;
  font-weight: 600;
  padding-left: 0.2em;
}
.nosotros-info__img__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nosotros-info__img {
  width: 10%;
  object-fit: cover;
  padding: 1em;
}

/* CONTACTO */
.contacto {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 97%;
  font-family: "Poppins", sans-serif;
}
.contacto__titulo__cont {
  display: flex;
  justify-content: center;
  margin: 1em auto 0;
  flex-direction: column;
  text-align: center;
}
.contacto__subtitulo {
  font-weight: 400;
  font-size: 1.1em;
  margin: -2em 0 0 0;
}
.contacto__cont {
  display: flex;
  width: 100%;
  margin: auto;
}
.contacto__form {
  display: flex;
  justify-content: none;
  margin: auto;
  flex-direction: column;
  width: 30%;
}
.contacto__form__cont {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  width: 90%;
  background-color: whitesmoke;
  padding: 0.5em;
}
.contacto__form__input {
  display: flex;
  padding: 1em;
  margin: 0.2em auto;
  width: 100%;
  border: none;
  font-size: 0.8em;
}
.contacto__form__textarea {
  display: flex;
  padding: 1em;
  width: 100%;
  margin: 0.5em auto;
  border: none;
  font-size: 0.8em;
}
.contacto__form__button {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  background-color: white;
  border: none;
}
.contacto__local {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 2em;
}
.contacto__local__cont {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 90%;
  padding: 1em;
}
.contacto__local__img__cont {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  position: relative;
  width: 100%;
  height: 13em;
  background: linear-gradient(155deg, rgba(20, 20, 20, 0.9013656488) 0%, rgba(18, 19, 19, 0.9041667692) 100%);
}
.contacto__local__img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: none;
  object-fit: cover;
  width: 100%;
}
.contacto__local__img__titulo {
  display: flex;
  color: black;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.contacto__local__info__cont {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 100%;
  height: 12em;
  padding: 1em;
}
.contacto__local__info__texto {
  display: flex;
  justify-content: none;
  margin: auto;
  flex-direction: none;
  width: 100%;
  padding: 0.7em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.contacto__local__map {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: none;
  width: 100%;
  height: 10em;
}

.bi {
  margin-right: 0.6em;
}

.fusio-dose-portada {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 2em 0 0 0;
}
.fusio-dose-portada__texto {
  font-weight: 700;
  font-size: 0.7em;
}

.fusio-dose {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  padding: 2em 0 2em 0;
  justify-content: center;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.fusio-dose__cont {
  width: 100%;
}
.fusio-dose__img {
  width: 100%;
  height: 20em;
  object-fit: cover;
  margin: auto;
  padding-bottom: 1em;
}
.fusio-dose__titulo {
  width: 100%;
  font-size: 0.9em;
  text-align: center;
  font-weight: 700;
}
.fusio-dose__texto {
  width: 100%;
  font-size: 0.8em;
  text-align: center;
}

.fusio-dose-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  width: 90%;
  padding-bottom: 2em;
  justify-content: center;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.fusio-dose-info__cont {
  width: 100%;
}
.fusio-dose-info__img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  margin: auto;
}
.fusio-dose-info__titulo {
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  padding: 1em;
}
.fusio-dose-info__texto {
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 0.8em;
}

.catalogo-cont {
  width: 90%;
  display: flex;
  height: 100%;
  margin: auto;
  padding: 4em 0 4em 0;
}

.catalogo {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background-color: red;
}
.catalogo__filtros {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.catalogo__lista {
  display: flex;
  flex-direction: column;
  width: 17%;
}
.catalogo__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 50em;
  margin: auto;
  padding: 1em;
}
.catalogo__list__titulo {
  color: black;
  font-size: 1em;
  font-weight: 700;
  width: 100%;
}
.catalogo__list__item {
  display: flex;
  width: 100%;
  color: black;
  font-size: 0.9em;
  line-height: 1.8em;
}
.catalogo__list__item:focus > .bi {
  opacity: 1;
}
.catalogo__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
  min-width: 20%;
}
.catalogo__img {
  display: flex;
  margin: auto;
  width: 100%;
  height: 16em;
  object-fit: cover;
}
.catalogo__info__cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.catalogo__titulo {
  width: 100%;
  padding: 1em 0 0 1em;
  font-size: 0.8em;
}
.catalogo__precio {
  width: 100%;
  padding-left: 0.8em;
}
.catalogo__boton {
  width: 90%;
  margin: 0 auto 1em;
  font-size: 0.8em;
  padding: 1em;
  border: 1px solid black;
  background-color: white;
}
.catalogo__boton:hover {
  background-color: black;
  color: white;
}

.paginador-catalogo {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.bi {
  opacity: 0;
}

@media screen and (max-width: 1328px) {
  .servicios__list__cont {
    width: 40%;
    margin: 0.5em;
  }
  .servicios-cont {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .servicios-precios {
    display: flex;
    justify-content: none;
    margin: none;
    flex-direction: column;
    width: 45%;
    padding: 2em 0;
  }
  .servicios-precios__list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 90%;
    min-width: 22em;
    flex-wrap: wrap;
  }
  .servicios-precios__info {
    display: flex;
    justify-content: center;
    margin: 1em auto 0;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
  }
  .servicios-precios__img {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    position: relative;
    width: 100%;
    height: 10em;
  }
  .servicios-precios__img__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: none;
    object-fit: cover;
    width: 100%;
    opacity: 0.8;
  }
  .servicios-precios__img__titulo {
    position: absolute;
    color: white;
    top: 1.35em;
    opacity: 1;
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
  }
  .servicios-items {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
  }
  .servicios-items__cont {
    display: flex;
    justify-content: center;
    margin: 0 0 0 -2em;
    flex-direction: column;
    width: 100%;
    padding: 0.7em 0.7em;
  }
  .servicios-items__items-cont {
    display: flex;
    flex-wrap: wrap;
  }
  .servicios-items__texto-cont {
    display: flex;
    justify-content: none;
    margin: none;
    flex-direction: column;
  }
  .servicios-items__texto {
    display: flex;
    justify-content: none;
    margin: none;
    flex-direction: column;
    text-decoration: none;
    padding: 0.5em 0;
    font-size: 0.85em;
  }
}
@media screen and (max-width: 980px) {
  .carousel-home {
    display: flex;
    height: 15em;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .carousel-home__img {
    width: 100%;
    object-fit: cover;
  }
  .banner {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
  }
  .banner__img-cont {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 100%;
  }
  .banner__img {
    width: 100%;
  }
  .servicios__list__cont {
    min-width: 80%;
    margin: 0.5em;
  }
  .productos {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    width: 100%;
  }
  .productos__img {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    width: 100%;
    height: 8em;
    object-fit: cover;
  }
  .productos__img:hover {
    background: linear-gradient(0deg, rgb(13, 13, 14) 50%, rgb(0, 0, 0) 100%);
    opacity: 0.8;
  }
  .redes {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 1.5em;
    justify-content: center;
    margin: auto;
    width: 80%;
    padding: 0 0 5em 0;
  }
  .redes__cont-logo {
    display: flex;
    justify-content: start;
    margin: auto;
    flex-direction: none;
    width: 80%;
    padding: 5em 0 1em 0;
  }
  .redes__img-logo {
    height: 6em;
  }
  .redes__titulo {
    display: flex;
    justify-content: start;
    margin: auto;
    flex-direction: none;
    width: 100%;
    padding-left: 1em;
    font-size: 1.5em;
  }
  .redes__cont {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    height: 25em;
    cursor: pointer;
  }
  .redes__cont:hover {
    background: linear-gradient(155deg, rgb(221, 221, 221) 0%, rgb(221, 221, 221) 100%);
    opacity: 0.8;
  }
  .redes__img {
    width: 100%;
    object-fit: contain;
  }
  .servicios-cont {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .servicios-precios {
    display: flex;
    justify-content: none;
    margin: none;
    flex-direction: column;
    width: 90%;
    padding: 2em 0;
  }
  .servicios-precios__list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 90%;
    min-width: 22em;
    flex-wrap: wrap;
  }
  .servicios-precios__info {
    display: flex;
    justify-content: center;
    margin: 1em auto 0;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
  }
  .servicios-precios__img {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    position: relative;
    width: 100%;
    height: 10em;
  }
  .servicios-precios__img__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: none;
    object-fit: cover;
    width: 100%;
    opacity: 0.8;
  }
  .servicios-precios__img__titulo {
    position: absolute;
    color: white;
    top: 1.35em;
    opacity: 1;
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
  }
  .servicios-items {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
  }
  .servicios-items__cont {
    display: flex;
    justify-content: center;
    margin: 0 0 0 -2em;
    flex-direction: column;
    width: 100%;
    padding: 0.7em 0.7em;
  }
  .servicios-items__items-cont {
    display: flex;
    flex-wrap: wrap;
  }
  .servicios-items__texto-cont {
    display: flex;
    justify-content: none;
    margin: none;
    flex-direction: column;
  }
  .servicios-items__texto {
    display: flex;
    justify-content: none;
    margin: none;
    flex-direction: column;
    text-decoration: none;
    padding: 0.5em 0;
    font-size: 0.85em;
  }
}
@media screen and (max-width: 480px) {
  .productos {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    padding-bottom: 2em;
  }
  .productos__img {
    height: 12em;
  }
  .redes {
    grid-template-columns: auto;
    row-gap: 1.5em;
  }
  .carousel-home {
    display: flex;
    width: 100%;
    height: 30em;
    margin: auto;
    justify-content: center;
  }
  .carousel-home__img {
    width: 100%;
    height: 30em;
    object-fit: cover;
  }
  .titulo {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  .titulo__text {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 2.5em;
    padding: 1em 0 0.5em 0;
  }
  .servicios {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
    padding: 0.5em 0 2em 0;
    flex-wrap: wrap;
  }
  .servicios__titulo {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
  }
  .servicios__list {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .servicios__list__cont {
    position: relative;
    width: 26.6666666667%;
    height: 10em;
    margin: 0.5em;
    cursor: pointer;
    background: linear-gradient(155deg, rgba(20, 20, 20, 0.9013656488) 0%, rgba(18, 19, 19, 0.9041667692) 100%);
  }
  .servicios__list__cont:hover > .servicios__list__item__img {
    opacity: 0.6;
  }
  .servicios__list__item__img {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    width: 100%;
    height: 10em;
    object-fit: cover;
    opacity: 0.9;
  }
  .servicios__list__titulo {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    color: white;
    position: relative;
    bottom: 2.5em;
    opacity: 1;
    text-align: center;
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .slogan-1 {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    width: 100%;
    background: linear-gradient(0deg, rgb(13, 13, 14) 50%, rgb(0, 0, 0) 100%);
  }
  .slogan-1__texto {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding: 1em 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .banner {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
  }
  .banner__img-cont {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
  }
  .banner__img {
    width: 100%;
  }
  .galeria {
    display: none;
  }
  #carouselExample {
    display: flex;
  }
  .carousel-img {
    width: 100%;
    height: 13em;
    object-fit: cover;
  }
  .promos {
    grid-template-columns: auto;
  }
  .promos__cont {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }
  .promos__img {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 80%;
  }
  .nosotros {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
    width: 80%;
    padding: 0 0 2em 0;
    font-family: "Poppins", sans-serif;
  }
  .nosotros-info {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    width: 90%;
    padding: 1.5em;
  }
  .nosotros-info__cont {
    margin: auto;
    width: 100%;
  }
  .nosotros-info__titulo {
    font-weight: 600;
  }
  .nosotros-info__img__cont {
    justify-content: center;
    width: 100%;
  }
  .nosotros-info__img {
    width: 20%;
    object-fit: cover;
    padding: 1em;
  }
  /* CONTACTO */
  .contacto {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
    font-family: "Poppins", sans-serif;
  }
  .contacto__titulo__cont {
    display: flex;
    justify-content: center;
    margin: 1em auto 0;
    flex-direction: column;
    text-align: center;
  }
  .contacto__subtitulo {
    font-weight: 600;
    width: 80%;
    margin: auto;
  }
  .contacto__cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .contacto__form {
    display: flex;
    justify-content: none;
    margin: 1em auto 0;
    flex-direction: column;
    width: 100%;
    padding: 1em;
  }
  .contacto__form__cont {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    padding: 0.5em;
  }
  .contacto__form__input {
    display: flex;
    padding: 0.5em;
    margin: 0.5em;
    border: none;
  }
  .contacto__form__textarea {
    display: flex;
    padding: 1em;
    margin: 0.5em;
    border: none;
  }
  .contacto__form__button {
    display: flex;
    justify-content: center;
    margin: 0.5em;
    flex-direction: column;
    padding: 1em;
    background-color: white;
    border: none;
  }
  .contacto__local {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 1em;
  }
  .contacto__local__cont {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    background-color: whitesmoke;
  }
  .contacto__local__img__cont {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    position: relative;
    width: 100%;
    height: 5em;
    background: linear-gradient(155deg, rgba(20, 20, 20, 0.9013656488) 0%, rgba(18, 19, 19, 0.9041667692) 100%);
  }
  .contacto__local__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: none;
    object-fit: cover;
    width: 100%;
    opacity: 0.8;
  }
  .contacto__local__img__titulo {
    position: absolute;
    color: white;
    top: 0.5em;
    font-size: 2.2em;
    width: 100%;
    text-align: center;
    font-weight: 700;
  }
  .contacto__local__info__cont {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
    padding: 1em;
  }
  .contacto__local__info__texto {
    display: flex;
    justify-content: none;
    margin: auto;
    flex-direction: none;
    width: 100%;
    padding: 0.7em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  .contacto__local__map {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: none;
    width: 100%;
    height: 15em;
  }
  .catalogo {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
  }
  .catalogo__productos {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .catalogo__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
