


/* COLORS */

$color-header:(
    color1: #EC4E0B,
    color2: #000000,
    color3: #ffffff,
    color4: #ff8e4a,
    color5: #080808,
);

// MIXINS

@mixin caja-flex ($justify, $margin, $direction){
    display: flex;
    justify-content: $justify;
    margin: $margin;
    flex-direction: $direction;
}

$font-stack: 'Urbanist', sans-serif;