
footer{
    width: 100%;
    background-color: black;
}

.footer{
    background-color: black;
    display: flex;
    width: 80%;
    margin: auto;
    padding: 2em;
    justify-content: space-between;

        &__info{
            width: calc(100%/3);
            color: white;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }

        &__info p{
            font-size: 1em;
        }

        &__horario{
            width: calc(100%/3);
            color: white;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }

        &__redes{
            width: calc(100%/3);
            color: white;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }

        &__logo{
            display: flex;
            width: 100%;
            margin: auto;
            flex-direction: row;
            background-color:white;
        }

        &__logo__cont{
            display: flex;
            width: 80%;
            color: white;
            margin: auto;
        }

        &__logo__img{
            width: 10%;
            display: flex;
            margin: auto;
            justify-content:flex-start;
            padding: 0.5em;
        }

        &__logo__info{
            width: 100%;
            margin: auto;
            color: black;
            text-align:end;
            font-size: 0.7em;
        }
}