@use "commons.scss";


footer{
    width: 100%;
    background: rgb(0,57,83);
    background: linear-gradient(180deg, rgb(22, 22, 22) 30%, rgb(0, 0, 0) 100%);
}

.footer{
    @include commons.caja-flex (space-between, auto, none);
    width: 60%;
    padding: 1.5em;
    font-family: commons.$font-stack;

        &__info{
            width: calc(100%/2);
            text-align: center;
            margin: auto;
            padding: 1em;
        }

        &__info__titulo{
            text-align: center;
            color: grey;
            margin: auto;
            font-weight: 700;
            font-size: 2em;
            padding-bottom: 0.5em;
        }

        &__info__texto{
            margin-top: 1em;
            font-size: 0.9em;
            margin: auto;
            text-align: center;
            color: grey;
            font-weight: 600;
        }

        &__img{
            @include commons.caja-flex (center, 0 auto, none);
            width: calc(80%/3);
        }

        &__img__logo{
            @include commons.caja-flex (center, auto, column);
            width: 15em;
        }

        &__text{
            @include commons.caja-flex (none, auto, row);
            width: 100%;
            background-color:black;
        }

        &__text__cont{
            display: flex;
            width: 80%;
            color: black;
            margin: auto;
        }

        &__text__info{
            width: 100%;
            margin: auto;
            color: grey;
            text-align:center;
            font-size: 0.7em;
            padding: 1em;
            font-weight: 600;
        }
}

@media screen and (max-width: 980px) {
 
    .footer{
        @include commons.caja-flex (center, auto, column);
        width: 70%;
        padding: 1em;
    
            &__info{
                width: 100%;
                text-align: center;
                margin: auto;
            }
    
            &__info__titulo{
                text-align: center;
                color: white;
                font-size: 1.7em;
                margin: auto;
                padding-top: 1em;
            }
    
            &__info__texto{
                padding-top: 0.5em;
                padding-bottom: 1em;
                font-size: 1em;
                margin: auto;
                text-align: center;
                color: white;
            }
    
            &__text{
                @include commons.caja-flex (none, auto, row);
                width: 100%;
                background-color:white;
            }
    
            &__text__cont{
                display: flex;
                width: 80%;
                color: white;
                margin: auto;
            }
    
            &__text__info{
                width: 100%;
                margin: auto;
                color: black;
                text-align:center;
                font-size: 0.7em;
                padding: 1em;
            }
    }

}