@use "commons.scss";


footer{
    width: 100%;
}

.footer{
    @include commons.caja-flex (space-between, auto, none);
    width: 82%;
    padding: 1.5em;
    font-family: commons.$font-stack;
    border-top: 1px solid black;

        &__text{
            @include commons.caja-flex (none, auto, row);
            width: 100%;
            background-color:black;
        }

        &__text__cont{
            display: flex;
            width: 80%;
            color: black;
            margin: auto;
        }

        &__text__info{
            width: 100%;
            margin: auto;
            color: rgb(218, 218, 218);
            text-align:center;
            font-size: 0.7em;
            padding: 1em;
            font-weight: 400;
        }

        &__payments{
            margin: auto;
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: row;
        }

        &__payments__cont{
            display: flex;
            width: 100%;
            margin: 0.5em;
            padding: 0.2em;
        }

        &__payments__img{
            width: 100%;
            height: 30px;
            padding: 10%;
        }
}

@media screen and (max-width: 980px) {
 
    .footer{
        @include commons.caja-flex (center, auto, column);
        width: 70%;
        padding: 1em;
    
            &__text{
                @include commons.caja-flex (none, auto, row);
                width: 100%;
                background-color:white;
            }
    
            &__text__cont{
                display: flex;
                width: 80%;
                color: white;
                margin: auto;
            }
    
            &__text__info{
                width: 100%;
                margin: auto;
                color: black;
                text-align:center;
                font-size: 0.7em;
                padding: 1em;
            }
    }

}