@use "utilities.scss" as u;

.contact{
    display: flex;
    width: 100%;
    margin: auto;
    font-family: u.$font-first;

        &__content{
            width: 100%;
            display: flex;
            height: 90%;
            margin: 5.4em auto -1em;
            flex-wrap: wrap;
        }

        &__content-local{
            margin: auto;
            justify-content: center;
            display: flex;
            flex-direction: column;
            height: 90vh;
            background-color: map-get(u.$colors, "color1");
            background: linear-gradient(0deg, rgb(22, 22, 22) 30%, rgb(0, 0, 0) 100%);
        }

        &__content-local-img{
            margin: auto;
            height: fit-content;
            width: 100%;
            height: fit-content;
            background-color: red;
        }

        &__content-local-img__img{
            display: flex;
            height: 90vh;
            object-fit: cover;
        }

        &__content-local-img__img-mobile{
            display: flex;
            height: 250px;
            object-fit: cover;
        }

        &__content-img{
            background-position: center;
            background-size: cover;
            display: flex;
        }

        &__content-img__title{
            color: white;
            font-weight: 700;
            font-size: 3em;
            width: fit-content;
            margin: 0.5em auto;
            padding: 0 0.5em;
            text-align: center;
        }

        &__content-img__subtitle{
            color: white;
            font-weight: 700;
            font-size: 2em;
            width: fit-content;
            margin: 1em auto 0.5em;
            padding: 0 0.5em;
            text-align: center;
        }

        &__content-local__text{
            margin: 0 auto 1.5em;
            text-align: center;
            color: white;
            font-size: 1em;
        }

        &__content-local__map{
            display: flex;
            margin: auto;
            justify-content: center;
            height: 135px;
        }
}

// #centro{
//     background-image: url(../media/contact/azul-estetica-3.png);
// }

// #ciudadvieja{
//     background-image: url(../media/contact/azul-estetica-ciudad-vieja.jpg);
// }